

body,
atom-workspace,
atom-panel {
  background-color: @base-background-color !important }

body {
  font-size: inherit }

body,
html,
pre {
  font-size: @text-size }

li.list-item, li.list-item *,
.list-tree li.list-item,
.select-list li.list-item,
.tab, .tab-bar, .tab-bar .tab, .name,
body, atom-panel, atom-panel > *,
p, h1, h2, h3, h4, h5,
table, td, th {
  .text(default);
  .no-borders()
}

.config-menu li a {
  .text(default);
  padding: 1.2em 0em 1.4em 2em !important }

pre {
  background-color: @syntax-background-color !important }

table, td, th {
  line-height: 1.5em    !important;
  font-size: @text-size !important }

.tool-bar-spacer {
  opacity: 0 }
