

body,
atom-workspace,
atom-panel {
  background-color: @base-background-color !important }

body {
  font-size: inherit }

body, html, pre {
  font-size: @text-size }

.name,
.list-tree li.list-item,
.select-list li.list-item,
li.list-item, li.list-item *,
body, atom-panel,
p, h1, h2, h3, h4, h5,
table, td, th {
  .text(default);
  .no-borders();
  font-size:  1em }

atom-panel > * {
  border-style: none }

table, td, th {
  line-height: @component-line-height !important;
  font-size: @font-size !important }

.config-menu {
  .no-borders }

.config-menu li a {
.text(default);
  padding: @component-padding 0em @component-padding @component-padding * 2 !important }

.tool-bar-spacer {
  opacity: 0 }
