
button,
button.icon,
.btn-default,
.btn {
  .button(@button-border-color);

  &:focus,
  &:active:focus {
    outline: 0;
    border: 1px solid @text-color-selected !important;
  }

  &.btn-xs { }
  &.btn-sm { }
  &.btn-lg { }

  &.btn-error { .button-variant(@text-color-error) }
  &.btn-info {
    .button-variant(@text-color-info) }
  &.btn-primary {
    .button-variant(@text-color-info) }
  &.btn-success {
    .button-variant(@text-color-success) }
  &.btn-warning {
    .button-variant(@text-color-warning) }
  &.status-indicator {
    border-width: 0 !important }
}

.btn-group {
  & > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  & > .btn:last-child:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.btn {
  border-radius: 2em !important }

.btn-group .btn:not(:last-child):not(:first-child) {
  border-radius: 0 !important }
