@nord0: #2c2c36;
@nord1: #32323d;
@nord2: #434C5E;
@nord3: #4C566A;
@nord4: #D8DEE9;
@nord5: #E5E9F0;
@nord6: #ECEFF4;
@nord7: #8FBCBB;
@nord8: #88C0D0;
@nord9: #81A1C1;
@nord10: #5541f6;
@nord11: #df2c51;
@nord12: #8059b9;
@nord13: #b18cb1;
@nord14: #65d68b;
@nord15: #ee57d3;
