@import "./config";

@tint-color:          @eq-config-tint;
@tint-amount:         92;

@eq-color-text:       mix(#c2c7e4, @tint-color, @tint-amount);                      // MAIN text
@eq-color-base:       mix(#343240, @tint-color, @tint-amount);                      // main background

@eq-color-dark:       mix(#3a3849, @tint-color, @tint-amount);                      // Slightly lightened version of the base color
@eq-color-lite:       mix(#9ea3c8, @tint-color, @tint-amount);                      // Light variant for the base color
@eq-color-mdlo:       mix(lighten(@eq-color-base, 3%), @tint-color, @tint-amount);  // Slightly lightened version of the base color
@eq-color-mdhi:       mix(lighten(@eq-color-base, 8%), @tint-color, @tint-amount);  // Slightly lightened version of the base color

@eq-color-input:      mix(#533cdd, @tint-color, @tint-amount);                      // Input fields' highlights
@eq-color-highlight:  mix(#f2f4ff, @tint-color, @tint-amount);                      // highlighted & selected text
@eq-color-annotation: mix(#ecdae9, @tint-color, @tint-amount);                      // Backgrounds in subtle highlights

@eq-color-highlight:  mix(#f2f4ff, @tint-color, @tint-amount);                      // highlighted & selected text
@eq-color-annotation: mix(#3d3b49, @tint-color, @tint-amount);                      // Backgrounds in subtle highlights
@eq-color-input:      mix(#533cdd, @tint-color, @tint-amount);                      // Input fields' highlights

@eq-color-info:       mix(#4f6edb, @tint-color, @tint-amount);                      // inputs, something else?
@eq-color-success:    mix(#73e99c, @tint-color, @tint-amount);                      // green / success
@eq-color-warning:    mix(#dbc290, @tint-color, @tint-amount);                      // warning
@eq-color-modified:   mix(#cd8eb4, @tint-color, @tint-amount);                      // modified
@eq-color-error:      mix(#d7305e, @tint-color, @tint-amount);                      // red / error
// @eq-color-info:       #63b4c4;                // inputs, something else?
// @eq-color-success:    #74c38f;                // green / success
// @eq-color-warning:    #dbc290;                // warning
// @eq-color-modified:   #ab80b3;                // modified
// @eq-color-error:      #d04168;                // red / error
