
atom-text-editor:not([mini]) {
  .dimmed(0);
  // FIXME
  background-color: @editor-background-color;
  font-weight:      @editor-font-weight;

  .gutter,
  .gutter-container {
    text-align: right !important }

  .gutter .cursor-line {
    --background-color: @gutter-background-color-selected }

  .gutter.line-numbers {
    background-color: var(--background-color) !important }
    // --background-color: @gutter-background-color }

  .gutter .line-number {
    background-color: var(--background-color) !important }

  &[with-minimap] atom-overlay {
    margin-left: 0 !important }

  .scroll-view {
    padding: 0 }
}


atom-text-editor[mini] {
  .text(normal);
  border-radius:  3em !important;
  border-width:   1px;
  border-style:   solid;
  box-sizing:     border-box;
  overflow:       hidden;
  line-height:    @input-height - 2px;
  max-height:     @input-height;
  height:         @input-height;
  max-height:     6em;
  padding-left:   @component-padding;
  padding-right:  @component-padding;
  transition: @transition-color;
  background-color: var(--background-color);

  span[class*='syntax-'] {
    color: var(--text-color) !important }

  &, .cursor {
    border-color: var(--text-color) }

  .placeholder-text {
    height:      @input-height;
    line-height: @input-height - 2px }

  .selection .region {
    background-color: var(--selection-color) }
}

atom-text-editor[mini].is-focused {
  background-color: @input-background-color-active;
}


@hover-effect-intensity: 15%;

atom-text-editor[mini] {
  --selection-color:  saturate(lighten(@input-background-color, 3%), 2%);
  --background-color: @input-background-color;
  --border-color:     @input-border-color;
  --text-color:       @input-text-color }

atom-text-editor[mini]:hover {
  --background-color: @input-background-color;
  --border-color:     fade(@input-border-color, 100% - @hover-effect-intensity * 4);
  --text-color:       lighten(@input-text-color, @hover-effect-intensity) }

atom-text-editor[mini].is-focused {
  --selection-color:  saturate(darken(@input-background-color-active, 5%), 20%);
  --background-color: @input-background-color-active;
  --border-color:     @input-border-color-active;
  --text-color:       @input-text-color-active }

atom-text-editor[mini].is-focused:hover {
  --background-color: lighten(@input-background-color-active, @hover-effect-intensity);
  --border-color:     lighten(@input-border-color-active, @hover-effect-intensity);
  --text-color:       lighten(@input-text-color-active, @hover-effect-intensity) }
