
@checkbox:   "input[type='checkbox']:not(.input-toggle)";
@input-text: "input[type='text'], input[type='number'], input[type='search'], input:not([type])";


.field () {
  -webkit-appearance: none;
  border-color: fade(@input-background-color, 100%);
  background-color: fade(@input-background-color, 0%);
  margin:        0 0.5em 0 0;
  padding:       0 1em;
  min-height:    3rem;
  border-radius: 1.5rem;
}



@{input-text},
textarea,
select {
  border-radius: 2em !important;
  height: @input-height;
  line-height: @input-height;
  padding: @component-padding;
  -webkit-appearance: none;
}

input[type="checkbox"] {
  &:focus {
    box-shadow: none !important;
  }
  &:before,
  &:after {
    background: @base-background-color;
  }
}


// Select inputs - copy from mac
select.form-control {
  .button(@button-border-color);
  .text(normal);
  height:       @input-height;
  line-height:  @input-height;
  text-transform: none;

  .interactions(@button-background-color);

  &:focus,
  &:hover {
   background: @button-border-color !important;
   color: @base-background-color !important;
  }
}
.platform-darwin input.input-number::-webkit-inner-spin-button {
  margin: 0 0px 0 0;
  border: none !important;
  box-sizing: content-box;
  position: relative;
  -webkit-appearance: inner-spin-button;
  background: transparent;
  right: auto;
  left: 1px;
  top: 1px;
  bottom: 1px;
  padding: 0;
}

input[type="color"],
input.input-color {
  border: none !important;

}

textarea,
textarea.input-textarea {
  @import "ui-variables";
  .field;
  resize: vertical;
  height: 12rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
textarea::-webkit-input-placeholder {
  padding: 0.3em 0 }
textarea::-webkit-scrollbar {
  width: 6px !important }


input[type="radio"],
input[type="checkbox"],
input[type="range"],
input.input-radio,
input.input-checkbox,
input.input-range,
input.input-toggle {
  @app-background-color: #2c2c36;
  --highlights-color: mix(@app-background-color, @text-color-info, 10%);
  --background-color: mix(@app-background-color, @background-color-info, 90%);
}
input[type="radio"],
input[type="checkbox"],
input[type="range"],
input.input-radio,
input.input-checkbox,
input.input-range,
input.input-toggle {
  &, .input-label & {
    background-color: var(--background-color);
  }
  &::after,
  &::before {
    background-color: var(--highlights-color);
  }
}

.input-range::-webkit-slider-thumb {
  background-color: var(--highlights-color) }

@{checkbox},
input.input-checkbox {
  border-radius: 2px !important;
  &::before,
  &::after {
    top: 80%;
    left: 45%;
    height: 1px;
  }
  &:checked::before {
    transform: rotate(215deg) scale(1) translate(0, -50%);
    width: ~"calc(var(--size) * 0.3)";
  }
  &:checked::after {
    transform: rotate(305deg) scale(1) translate(0, 50%);
    width: ~"calc(var(--size) * 0.5)";
  }
}

input {
  &::before, &::after, & {
    transition-duration: 0.5s !important;
  }
  --size: 2em }

input.input-toggle,
input.input-radio,
input[type="radio"] {
  &, &:checked {
    border-radius: 1.5em !important;
    overflow: hidden;
  }
}
input.input-checkbox,
input.input-radio,
input[type="checkbox"]:not(.input-toggle),
input[type="radio"] {
  width: var(--size);
  height: var(--size) }

input.input-radio,
input[type="radio"] {
  &::before {
    border: none;
    opacity: 1;
    transition-property: transform, opacity;
    transform: scale(0.75) translate(0, 0);
  }
  &:not(:checked)::before {
    opacity: 0;
    transform: scale(0.2) translate(-6em, -1em);
  }
}

input[type="text"],
input.input-text,
input.input-search,
input[type="search"],
input:not([type]),
input[type="number"],
input.input-number,
select,
select.input-select,
select.form-control,
.settings-view select.form-control {
  .field;
  &, & + .btn {
    line-height:        3rem;
  }
  & + .btn {
    width:  3rem;
    flex:   0 0 3rem;
    margin: 0;
  }
}

.btn-group > .btn:not(:last-child) {
  &[style*='display: none'] + .btn,
  &[style*='display:none']  + .btn {
    border-top-left-radius:    2em !important;
    border-bottom-left-radius: 2em !important;
  }
}
