
@checkbox:   "input[type='checkbox']:not(.input-toggle)";
@input-text: "input[type='text'], input[type='number'], input[type='search'], input:not([type])";


.field () {
  -webkit-appearance: none;
  border-color: fade(@input-background-color, 100%);
  background-color: fade(@input-background-color, 0%);
  margin:        0 0.5em 0 0;
  padding:       0 1em;
  border-radius: 1.5rem;
}


input {
  --size: 2em;

  &::before, &::after, & {
    transition-duration: 0.5s !important }
}


input,
textarea,
select {
  border-radius: 2em !important;
  height: @input-height;
  line-height: @input-height;
  padding: @component-padding;
  -webkit-appearance: none;
}

textarea,
textarea.input-textarea {
  @import "ui-variables";
  .field;
  resize:         vertical;
  height:         12rem;
  padding-top:    0.5em;
  padding-bottom: 0.5em }

textarea::-webkit-input-placeholder {
  padding: 0.3em 0 }

textarea::-webkit-scrollbar {
  width: 6px !important }

input[type="checkbox"] {
  &:focus {
    box-shadow: none !important }
  &:before,
  &:after {
    background: @base-background-color }
}

.select-container {
  display: flex;
}
select.form-control {
  .button(@button-border-color);
  .interactions(@button-background-color);
  .text(normal);

  height:         @input-height;
  line-height:    @input-height;
  text-transform: none;

  &:focus,
  &:hover {
    color:      @base-background-color !important;
    background: @button-border-color !important }
}

.platform-darwin input.input-number::-webkit-inner-spin-button {
  margin: 0 0px 0 0;
  border: none !important;
  box-sizing: content-box;
  position: relative;
  -webkit-appearance: inner-spin-button;
  background: transparent;
  right: auto;
  left: 1px;
  top: 1px;
  bottom: 1px;
  padding: 0;
}


input[type="radio"],
input[type="checkbox"],
input[type="range"],
input.input-radio,
input.input-checkbox,
input.input-range,
input.input-toggle {
  --highlights-color: mix(@app-background-color, @text-color-info, 30%);
  --background-color: mix(@app-background-color, @background-color-info, 90%);

  .input-label &,
  & {
    background-color: var(--background-color) }

  &::after,
  &::before {
    background-color: var(--highlights-color) }
}

input[type="color"],
input.input-color {
  border: none !important;
}

.input-range::-webkit-slider-thumb {
  background-color: var(--highlights-color) }

input.input-checkbox,
input.input-radio,
input[type="checkbox"]:not(.input-toggle),
input[type="radio"] {
  width:  var(--size);
  height: var(--size) }

@{checkbox},
input.input-checkbox {
  border-radius: 2px !important;

  &::before,
  &::after {
    top:    80%;
    left:   45%;
    height: 2px }

  &:checked::before {
    transform: rotate(215deg) scale(1) translate(0, -50%);
    width: ~"calc(var(--size) * 0.3)" }

  &:checked::after {
    transform: rotate(305deg) scale(1) translate(0, 50%);
    width: ~"calc(var(--size) * 0.5)" }
}

input.input-toggle,
input.input-radio,
input[type="radio"] {
  &,
  &:checked {
    border-radius: 1.5em !important;
    overflow: hidden }
}

input.input-radio,
input[type="radio"] {
  &::before {
    border: none;
    opacity: 1;
    transition-property: transform, opacity;
    transform: scale(0.75) translate(0, 0);
  }
  &:not(:checked)::before {
    opacity: 0;
    transform: scale(0.2) translate(-6em, -1em);
  }
}

input,
select,
select.input-select,
select.form-control,
.settings-view select.form-control {
  .field;
  &, & + .btn {
    height:       3rem;
    box-sizing:   border-box;
    line-height:  1.2em }

  & + .btn {
    margin:      0;
    width:       3rem;
    flex:        0 0 3rem }
}
