kbd {
  background: transparent }

.badge {
  margin-right: 0.3em;
}

.badge.icon {
  font-size: 1rem;
  vertical-align: middle;
  display: inline-block;
  line-height: 1em;
}

.badge.icon::before {
  vertical-align: middle;
  line-height: 0.5em;
  display: inline-block;
  margin: 0 0.2em 0 0 !important;
  top: 0em;
  font-size: 1.2em;
  width: auto;
}
