
atom-notifications {
  .text(normal);
  top: 32px;
  background-color: transparent;

  .close {
    transition: all @transition-time ease;

    &:before {
      color: @text-color;
    }
  }

  .btn {
    height: 24px !important;
    line-height: 20px !important;

    &.close-all {
      .button-variant(@text-color-info);
    }
  }

  .content,
  .detail,
  .message,
  .meta {
    color: @text-color;
    background-color: @overlay-background-color;
    background-clip: inherit;

    code,
    .detail-content {
      background-color: @overlay-border-color;
      color: @text-color;
    }

    .stack-toggle {
      color: @text-color-info;
    }
  }

  .meta {
    .description a {
        color: @text-color-info;
    }

    .btn-toolbar .icon-clippy {
      color: @text-color;
      padding-left: 5px;
    }
  }
}


/**
 * Notifications
 */

atom-notifications {

  atom-notification {
    padding: 1.5em 3.5em !important;
    margin: 0 0 1px !important }

  atom-notification .content {
    background: transparent !important;
    * { background: transparent !important }}

  atom-notification::before {
    background: transparent;
    position: absolute;
    color:    inherit !important;
    display:  flex    !important;
    width:    auto    !important;
    top:      0;
    left:     0;
    right:    0;
    bottom:   0;
    margin:   0           !important;
    padding:  0.8em       !important;
    z-index: -1;
    text-align:    left   !important;
    align-items:   center !important;
    border-radius: 1px    !important }

  atom-notification.has-close:first-child .message {
    padding-right: 2em }

  atom-notification.fatal,
  atom-notification.error {
    color: @text-color-error;
    background-color: @background-color-error }

  atom-notification.warning {
    color: @text-color-warning;
    background-color: darken(@background-color-warning, 12%) }

  atom-notification.success {
    color: @text-color-success;
    background-color: @background-color-success }

  atom-notification.info {
    color: @text-color-info;
    background-color: @background-color-info }
}

atom-notifications {

  atom-notification.has-close:first-child .message,
  atom-notification.has-close .message,
  atom-notification .message {
    padding-right: 1.5em !important;
  }

  atom-notification.info { --color: @text-color-info }
  atom-notification.success { --color: @text-color-success }
  atom-notification.warning { --color: @text-color-warning }
  atom-notification.error { --color: @text-color-error }
  atom-notification.fatal { --color: @text-color-error }
  atom-notification {
    font-size: 0.8em;
    line-height: 1.25em;
    padding: 1em 2em 2em 0.5em !important;

    .item.message p,
    .item.message p:last-child,
    .item.message p code {
      font-size: inherit;
      font-family: inherit;
      font-weight: 400;
      letter-spacing: -0.045em;
    }

    .close-all.btn {
      color: var(--color) !important;
      border-color: initial !important;
      opacity: 0.5;
      padding: 0.3em 0.8em;
      height: auto !important;
    }
  }
  atom-notification.icon::before {
    z-index: 100000;
    color: white !important;
    opacity: 0.3;
    width: 30px !important;
    padding: 0 0 0 0.5em !important;
  }
}
