
.status-bar-item () {
  .text(label);
  color:          @text-color-subtle;
  margin:         0 @component-padding / 4;
  max-width:      45%;
  vertical-align: middle;
  line-height:    inherit;
  text-align:     center;
  display:        table-cell;
  width:          auto;
  flex:           1 1 1;
  * {
    line-height:    inherit;
    align-items: center;
  }
}



status-bar {
  .text(menu);
  .highlighted(1%);
  .eq-bar;
  @margin: @component-padding * 0.5;

  padding:      @margin 0;
  box-sizing:   content-box;
  background:   var(--background-color) !important;

  .flexbox-repaint-hack {
    padding: 0 @margin / 2 }

  .status-bar-left {
    justify-content: flex-start }

  .status-bar-right {
    justify-content: flex-end }

  .status-bar-left,
  .status-bar-right {
    background: transparent;
    display: flex;
    align-items: center;

     > * {
       .status-bar-item }

     a {
       color: inherit }
  }

  .status-bar-left,
  .status-bar-right {
    display: flex;
    align-items: center }
}
