
.status-bar-item () {
  .text(label);
  font-size: 0.8em !important;
  color:          @text-color-subtle;
  margin:         0 @component-padding / 4;
  max-width:      45%;
  vertical-align: middle;
  line-height:    inherit;
  text-align:     center;
  display:        table-cell;
  width:          auto;
  flex:           1 0;

  * {
    line-height:  inherit;
    align-items:  center }
}

//   vertical-align: middle;
//   text-align:     center;
//   font-size:      0.93em;
//   max-width:      45%;
//   display:        table-cell;
//   margin:         0 @component-padding;
//   width:          auto;
//   flex:           1 1 1 }


status-bar {
  .text(menu);
  .highlighted(1%);
  .eq-bar;
  @margin: @component-padding * 0.5;

  @margin:      @component-padding * 0.5;
  padding:      @margin 0;
  box-sizing:   content-box;
  background:   var(--background-color) !important;

  .flexbox-repaint-hack {
    padding: 0 @margin / 2 }

  .status-bar-left {
    justify-content: flex-start }

  .status-bar-right {
    justify-content: flex-end }

  .status-bar-left,
  .status-bar-right {
    background: transparent;
    display: flex;
    align-items: center;

     > * {
       .status-bar-item }

     a {
       color: inherit }
  }

  .status-bar-left,
  .status-bar-right {
    display: flex;
    align-items: center }

  .status-bar-left > *,
  .status-bar-right > * {
    font-size: 0.78em !important;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 0.8em !important;
    color: #7b7d92;
    margin: 0 0.375em;
    max-width: 45%;
    vertical-align: middle;
    line-height: inherit;
    text-align: center;
    display: table-cell;
    flex: initial;
    width: initial;
    align-self: cennter;
    line-height: inherit;
    align-items: center;
    vertical-align: middle;
    align-self: center;
    display: inline-block;
    height: inherit;
  }

  .btn {
    margin: 0.5em 0;
    box-sizing: border-box;
    height: auto;
    line-height: 2em;
    vertical-align: middle;
    display: block;
  }
}

status-bar {
  @margin: 0.3rem;

  .status-bar-left .inline-block {
    margin-left: 0;
    margin-right: @margin;
    &:last-child { margin-left: @margin }}

  .status-bar-right .inline-block {
    margin-right: 0;
    margin-left: @margin;
    &:last-child { margin-right: @margin }}

  div.atom-clock {
    // background:     fade(white, 5%);
    color:          white;
    flex:           1 0 !important;
    font-size:      1.25rem !important;
    margin-top:    -3px;
    font-weight:    100;
    vertical-align: middle;
    padding:        0 0 0 0.2em;
    align-self:     stretch;
    display:        flex;
    align-items:    center;
  }
}
