
.status-bar-item () {
  .text(label);
  font-size: 0.8em !important;
  color:          @text-color-subtle;
  margin:         0 @component-padding / 4;
  max-width:      45%;
  vertical-align: middle;
  line-height:    inherit;
  text-align:     center;
  display:        table-cell;
  width:          auto;
  flex:           1 0;

  * {
    line-height:  inherit;
    align-items:  center }
}

//   vertical-align: middle;
//   text-align:     center;
//   font-size:      0.93em;
//   max-width:      45%;
//   display:        table-cell;
//   margin:         0 @component-padding;
//   width:          auto;
//   flex:           1 1 1 }


status-bar {
  .text(menu);
  .highlighted(1%);
  .eq-bar;
  @margin: @component-padding * 0.5;

  @margin:      @component-padding * 0.5;
  padding:      @margin 0;
  box-sizing:   content-box;
  background:   var(--background-color) !important;

  .flexbox-repaint-hack {
    padding: 0 @margin / 2 }

  .status-bar-left {
    justify-content: flex-start }

  .status-bar-right {
    justify-content: flex-end }

  .status-bar-left,
  .status-bar-right {
    background: transparent;
    display: flex;
    align-items: center;

     > * {
       .status-bar-item }

     a {
       color: inherit }
  }

  .status-bar-left,
  .status-bar-right {
    display: flex;
    align-items: center }
}
