@color-modified: @text-color-warning;

.tab-bar .tab {
  .status-added,
  .status-ignored,
  .status-modified {
    transition: color @transition-time ease, background @transition-time ease;
  }

  .status-modified {
    color: @text-color-modified;
  }

  .status-added {
    color: @text-color-added;
  }

  &:hover {
    color: @text-color-highlight;
    background: @tab-background-color-hover;
  }
}

.tab-bar .tab.active,
.tab-bar .tab:hover.active {
  color: @text-color-selected;
  background-color: @tab-background-color-active;
  width: 100%;
}


.tab-bar {
  width: 100%;
  display: table;
  table-layout: fixed;
  -webkit-transform: scale(1);
  height: auto;
}

.tab-bar .tab {
  .text(menu);
  .status-colors;
  .interactions(darken(@tab-bar-background-color, 4%));

  width:        100%;
  display:      table-cell;
  position:     relative;
  text-align:   center;
  transition:   @transition-color;
  line-height:  @tab-height - @component-padding;
  padding:      @component-padding / 2;
  height:       @tab-height;

  .title {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: inherit !important }

  .icon,
  .icon::before {
    vertical-align: middle !important;
    line-height:    inherit;
    padding: 0;
    margin:  0 }

  .icon::before {
    margin:       0 @component-padding / 4 0 @component-padding / 8;
    font-size:    @tab-icon-size;
    width:        1.2em;
    height:       1.2em;
    line-height:  1.2em }

  .bottom & {
    height:    @tab-bottom-height;
    max-height: @tab-bottom-height;
    line-height: @tab-bottom-height;
  }
}

.tab-bar .placeholder {
  display: none }


.close-icon {
  --color:          @text-color-subtle;
  --color-hover:    @text-color-warning;
  --color-modified: @text-color-info;
  --color-modified-hover: @text-color-warning;

  justify-content: center;
  align-items:     center;
  box-sizing:      border-box;
  display:         flex;
  border-radius: 50%;

  &:hover::before {
    transition-delay: 0 !important;
    transition-duration: 0ms !important }

  &::before {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    color: inherit !important }


  // Default
  .tab-bar .tab & {
    transition: transform @transition-time ease, color @transition-time ease, background @transition-time ease;
    transform: scale(1) translate(-50%, -50%);
    opacity: 0;
    top:      50%;
    right:    0.2em;
    cursor: pointer;
    height: 16px;
    width: 16px;

    border: 0px solid rgba(200,200,200,0.1);
    border-color: var(--color);
    color: var(--color) }

  // Not modified, hover (close)
  .tab-bar .tab &:hover {
    transform: scale(1) translate(-50%, -50%);
    border-color: var(--color-hover);
    background: @base-background-color;
    color: var(--color-hover) }

  // Modified state (modified marker)
  .tab-bar .tab.modified:not(:hover) & {
    border-width: 1px;
    border-color: var(--color-modified);
    color: var(--color-modified) }

  // Modified, hover (close)
  .tab-bar .tab.modified &:hover {
    border-color: var(--color-modified-hover);
    color: var(--color-modified-hover) }

  // Tab hover (display)
  .tab-bar .tab:hover & {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    background: @base-background-color }
}
