
.tree-view {

  .list-tree.full-menu {
    background: var(--background-color) }

  .tree-view-root .list-tree {
    flex-direction: column;
    overflow-x:     hidden;
    overflow-y:     auto;
    position:       relative;
    display:        flex }

  // List items
  .list-item {
    align-items:    center;
    display:        flex;
    height:         @list-item-height !important;
    font-size:      @font-size;

    span.name {
      display:     inline-block;
      font-weight: @tree-view-font-weight;
      font-size:   @tree-view-font-size !important }

    span.name,
    .icon::before {
      vertical-align: top;
      line-height:    inherit;
      font-size:      1.25em;
      width:          1.2em;
      height:         auto;
      top:            0 }
  }


  // Project headers
  &,
  .project-root,
  .list-tree.full-menu {
    margin:   0;
    padding:  0 }

  .project-root-header + * {
    padding-top:    @list-item-height * 2;
    padding-bottom: @list-item-height * 3;
  }

  .list-item.project-root-header {
    .text(menu);
    background: var(--background-color);
    height:     @list-head-height !important;
    height:     @tab-height;
    width:      100%;
    z-index:    10000;
    padding:    0 !important;
    margin:     0 !important;
    flex:       0 0;

    &.open {
      position: fixed;
      top:      @tab-height }

    > span.name {
      height:       @list-head-height !important;
      line-height:  @list-head-height !important;
      box-sizing:   border-box;
      background:   @base-background-color;
      font-size:    1em !important;
      position:     absolute;
      display:      block;
      padding:      0 1em;
      width:        100%;
      top:          0;
      left:         0;
      right:        0;
      margin:       0;
      padding:      0 }

    &::before {
      display:      block;
      z-index:      100;
      width:        @list-head-height !important;
      height:       @list-head-height !important;
      line-height:  @list-head-height !important;
      text-align:   center !important;
      font-size:    1em !important }
  }

  .project-root.project-root.collapsed > .header {
    &:before { opacity: 0 }
    &:hover::before { opacity: 1 }
  }
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px }
}

atom-panel.modal ol.list-group, .overlay ol.list-group {
  min-height: 0 !important }





.tree-view,
.tree-view .list-tree.full-menu,
.tree-view .project-root {
  flex-direction: column;
  overflow:       hidden;
  display:        flex;
  height:         inherit;
  margin:         0;
  padding:        0;
}
