
@import "colors";
@import "font-families";

@ui-theme-name:   eq;
@transition-time: 483ms;
@transition-color:
  color @transition-time ease,
  border-color @transition-time ease,
  background-color @transition-time ease;

@text-color:                 @eq-color-text;
@text-color-subtle:          mix(@eq-color-text, @eq-color-base, 50%);
@text-color-highlight:       @eq-color-highlight;
@text-color-selected:        lighten(@eq-color-highlight, 1%);
@text-color-ignored:         @text-color-subtle;

@text-color-renamed:         @eq-color-info;
@text-color-info:            @eq-color-info;
@text-color-added:           @eq-color-success;
@text-color-success:         @eq-color-success;
@text-color-warning:         @eq-color-warning;
@text-color-modified:        @eq-color-modified;
@text-color-error:           @eq-color-error;
@text-color-removed:         @eq-color-error;

@background-color-highlight: @eq-color-annotation;
@background-color-selected:  @eq-color-dark;
@background-color-info:      @eq-color-info;
@background-color-success:   @eq-color-success;
@background-color-warning:   @eq-color-warning;
@background-color-error:     @eq-color-error;

@ui-site-color-1:            @eq-color-info;
@ui-site-color-2:            @eq-color-success;
@ui-site-color-3:            @eq-color-warning;
@ui-site-color-4:            @eq-color-error;
@ui-site-color-5:            @eq-color-modified;

@base-border-color:                 @eq-color-dark;
@app-background-color:              @eq-color-base;
@base-background-color:             @eq-color-base;


@input-text-color:                  desaturate(darken(@eq-color-lite, 9%), 8%);
@input-border-color:                desaturate(darken(@eq-color-lite, 18%), 15%);
@input-background-color:            @eq-color-base;

@input-text-color-active:           @eq-color-base;
@input-border-color-active:         @eq-color-text;
@input-background-color-active:     @eq-color-text;


@gutter-text-color:                 @text-color-subtle;
@gutter-background-color:           lighten(@eq-color-base, 1%);

@gutter-text-color-selected:        @text-color-selected;
@gutter-background-color-selected:  lighten(@eq-color-base, 2%);

@tooltip-text-color:                @eq-color-text;
@tooltip-background-color:          @eq-color-annotation;

@tooltip-key-text-color:            @eq-color-info;
@tooltip-key-background-color:      @eq-color-annotation;

@button-border-color:               @input-border-color;
@button-background-color:           transparent;

@button-background-color-hover:     @input-border-color;
@button-background-color-selected:  @input-border-color;




@overlay-background-color:          @eq-color-base;
@pane-item-background-color:        @eq-color-base;
@tree-view-background-color:        @eq-color-base;
@tool-panel-background-color:       @eq-color-base;
@inset-panel-background-color:      @eq-color-dark;
@panel-heading-background-color:    @eq-color-dark;
@tab-bar-background-color:          @eq-color-base;

@tab-background-color:              lighten(@eq-color-dark, 2%);
@tab-background-color-hover:        lighten(@eq-color-dark, 4%);
@tab-background-color-active:       lighten(@eq-color-dark, 0%);



@scrollbar-border-color:            @base-border-color;
@overlay-border-color:              @base-border-color;
@pane-item-border-color:            @base-border-color;
@inset-panel-border-color:          @base-border-color;
@tool-panel-border-color:           @base-border-color;
@panel-heading-border-color:        @base-border-color;
@tab-bar-border-color:              @base-border-color;
@tab-border-color:                  @base-border-color;
@tree-view-border-color:            @base-border-color;

@scrollbar-color:                   @eq-color-dark;
@scrollbar-color-active:            @eq-color-dark;
@scrollbar-track-color:             transparent;

@progress-loading-bar-background-color: @eq-color-info;




@font-family-base:
  "Gotham",
  "Montserrat",
  "Questrial",
  "Raleway",
  "Open sans",
  "BlinkMacSystemFont",
  "System Font",
  "Helvetica Neue",
  "Roboto",
  "Cantarell",
  "Ubuntu",
  "Lucida Grande",
  "Segoe UI",
  "Noto Sans",
  sans-serif;


@font-family:
  "Work Sans",
  "Source Sans Pro",
  "Roboto Condensed",
  "Proxima Soft",
  @font-family-base;

@input-font-family:
  @font-family-base;


/*+--- build ---+*/
@build-terminal-background-color: darken(@eq-color-base, 2%);

/*+--- imdone-atom ---+*/
@imdone-atom-task-background-color: darken(@eq-color-dark, 2%);
@imdone-atom-task-background-color-draged: @eq-color-dark;

/*+--- indent-guide-improved ---+*/
@indent-guide-improved-base-color: @eq-color-annotation;
@indent-guide-improved-active-color: @eq-color-input;

/*+--- markdown-preview ---+*/
@markdown-preview-background-color:      @eq-color-base;
@markdown-preview-border-color:          @eq-color-dark;
@markdown-preview-code-background-color: @eq-color-dark;
@markdown-preview-table-body-color:      mix(@eq-color-dark, @eq-color-base, 12%);
@markdown-preview-text-color:            @eq-color-lite;

/*+--- tool-bar ---+*/
@tool-bar-spacer-border-color: @eq-color-text;

@icon-size:               2em;
@disclosure-arrow-size:   0.65em;
@component-border-radius: 6px;
@component-padding:       1.5rem;
@component-line-height:   2rem;
@menu-letter-spacing:     3px;
@bracket-matcher-x-offset:3px;

@component-icon-padding:  0.35em;
@component-icon-size:     @icon-size;
@modal-icon-size:         @icon-size * 2;
@tab-icon-size:           @icon-size * 0.67;
@list-active-icon-size:   @icon-size;

@font-size:               16px;
@input-font-size:         18px;
@tree-view-font-size:     0.75em;

@tab-height:              6.4em;
@tab-bottom-height:       0.8 * @tab-height;
@input-height:            2.4 * @input-font-size;
@list-item-height:        2em;
@list-head-height:        2 * @list-item-height;

@font-weight:             500;
@menu-font-weight:        400;
@input-font-weight:       200;
@editor-font-weight:      500;
@tree-view-font-weight:   400;

@tab-bar-margin:          0; // @component-padding / 6;

@panel-nudge-radius:      0em;
@dock-toggle-width:       20em;
@dock-toggle-size:        3em;
@shadow-spread:           3em;
@shadow-offset:           0.2em;
@shadow-opacity:          0.2;
@toolbar-gutter:          0.3em;


// FIXME
@rainbow-gradient:        linear-gradient(100deg, #3e91f9, #a9427b, #4c566a);
@bracket-matcher-color:   fade(@text-color, 80%);
@scrollbar-track-color:   darken(@base-background-color, 5%);

@use-custom-controls: true;

@editor-background-color: #282631;
